 // * ~ s p a c i n g ~ * //
$spacing0: 0;
$spacing2: 0.125rem; // 2px
$spacing4: 0.25rem; // 4px
$spacing6: 0.375rem; // 6px
$spacing8: 0.5rem; // 8px
$spacing10: 0.625rem; // 10px
$spacing12: 0.75rem; // 12px
$spacing16: 1rem; // 16px
$spacing20: 1.25rem; // 20px
$spacing24: 1.5rem; // 24px
$spacing32: 2rem; // 32px
$spacing40: 2.5rem; // 40px
$spacing48: 3rem; // 48px 
$spacing64: 4rem; // 64px
$spacing80: 5rem; // 80px


// * ~ b o r d e r  â¢  r a d i u s ~ * //

$radius0: 0;
$radius4: 0.25rem;
$radius6: 0.375rem;
$radius8: 0.5rem;
$radius10: 0.625rem;
$radius12: 0.75rem;
$radius16: 1rem;
$radius20: 1.25rem;
$radius24: 1.5rem;
$radiusFull: 65rem;

// * ~ b r e a k â¢ p o i n t s ~ * //

$tablet-breakpoint: 600px;
$desktop-breakpoint: 1200px;
$lg-desktop-breakpoint: 1800;