@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.header {
  
  padding: $spacing20;
  // position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}