@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.themeToggle {
  &__button {
    padding: 0.75rem;
    background: #ebebeb;
    border: none;
    border-radius: 0.75rem;
    border: #e2e2e2;
    transition: background 0.15s;

    &:hover {
      cursor: pointer;
      background: #dbdbdb;
    }

    &-icon {
      font-size: 1.5rem;
    }
  }
}